.component-wrap {
  background-color: #f0f5fb;
  height: 100%;
}

.wrapper {
  display: grid;
  color: #a4a6b2;
  /* grid-template-columns: repeat(5, auto); */
  /* grid-template-columns: fit-content(10%) fit-content(10%) fit-content(40%) fit-content(10%) fit-content(10%); */
  grid-template-columns: 0% 30% 20% 10% 20%;
  justify-content: center;
  /* grid-auto-rows: 100px; */
  margin-top: 2em;
}

.search-bar2 {
  width: 60%;
  display: flex;
  /* border-radius: 1em; */
}

.search-icon {
  /* background: white url(../../assets/search-icon.svg); */
  /* background-image: url(../../assets/search-icon.svg); */
  background-color: white;
}

.even {
  background-color: white;
}

.odd {
  background-color: #f9fafe;
}

.hat {
  background-color: #775fd1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-variant-caps: petite-caps;
  align-items: center;
  justify-items: center;
}

.favorite {
  filter: brightness(1.2)
}

.preview-modal {
  /* transition: 0.5s; */
  z-index: 1;
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid;
  border-radius: 1em;
  padding: 1em;
}

.btn {
  background-color: #eceef9;
  /* border: 1px solid; */
  cursor: pointer;
  user-select: none;
  border-radius: 100%;
  text-align: center;
  aspect-ratio: 1 / 1;
  /* font-weight: bold; */
  font-size: 0.7em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em 0 0.5em;
}

.btn:hover {
  background-color: #66c9 !important;
  color: white !important;
}

.wrapper div {
  /* border: 1px solid; */
  /* margin: 0.1em; */
  /* padding: 1em; */
  /* background-color: gainsboro; */
  padding: 1em;
  text-align: center;
  /* border-radius: .3em; */
}

.menu {
  padding: 0 !important;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
}

.menu span {
  text-align: left;
  right: 1em;
  cursor: pointer;
}

.active {
  background-color: aqua;
}

.menu span:hover {
  background-color: bisque;
  /* box-shadow: .3em 0 teal; */
}

.menu span:nth-child(even) {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.preview-content img {
  width: 25px;
}

.title {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.search-bar {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}
.head {
  color: black !important;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5em;
  /* justify-self: left; */
}
.name-head {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;

  
}
.link-head {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}
.preview-head {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
}
.actions-head {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
}
.name-content {
  grid-column-start: 2;
  grid-column-end: 3;
}
.link-content {
  grid-column-start: 3;
  grid-column-end: 4;
}
.pic-content {
  grid-column-start: 4;
  grid-column-end: 5;
}
.actions-content {
  grid-column-start: 5;
  grid-column-end: 6;
}
.load-more {
  grid-column-start: 2;
  grid-column-end: 6;

  color: white !important;
  background-color: #775fd1;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  padding: 0.5em 1em 0.5em 1em !important;
  font-weight: bold;
  border-radius: 1em;
  font-variant-caps: petite-caps;
  cursor: pointer;
  z-index: 1;
}
