<div class="wrapper">
  <div class="menu">
    <span [ngClass]="i === menuPoint? 'active' : ''" *ngFor="let e of menu; index as i;" (click)='pickPoint(i)'>{{menu[i]}}</span>
  </div>
  <div class="title">{{menu[menuPoint]}}</div>
  <div class="search-bar">search-bar</div>
  <div class="name-head">name-head</div>
  <div class="link-head">link-head</div>
  <div class="preview"><img src={{preview_emoji}} alt="" srcset=""></div>
  <div class="actions-head">actions-head</div>
  <div class="name-content">name-content</div>
  <div class="link-content">link-content</div>
  <div class="pic-content">pic-content</div>
  <div class="actions-content">actions-content</div>
</div>