<img class="preview-modal" alt="preview" src='https://github.githubassets.com/images/icons/emoji/unicode/1f4af.png?v8' #previewModal>

<div class="wrapper">
  <div class="menu">
    <span [ngClass]="i === menuPoint? 'active' : ''" *ngFor="let e of menu; index as i;" (click)='pickPoint(i)'>{{menu[i]}}</span>
  </div>
  <div class="title">list: {{menu[menuPoint]}}</div>
  <div class="search-bar">
    <input type="text" class='form-control' placeholder='emoji name' (change)="findKeys()" #emojiName>
    
    <!-- <span class=''></span> -->
  </div>
  <div class="name-head ">name</div>
  <div class="link-head">link</div>
  <div class="preview">preview</div>
  <div class="actions-head">actions</div>
  
  <ng-container *ngFor="let e of srcs; index as i;">
    <div class="name-content rows{{i}}">{{e.name}}</div>
    <div class="link-content rows{{i}}"><a href={{e.link}}>link</a></div>
    <div class="preview-content rows{{i}}"><img src={{e.link}} [ngClass]="e.favorite? 'favorite' : ''" alt="" srcset="" (mouseenter)="showPreview($event, e.link)" (mouseleave)="hidePreview()"></div>
    <div class="actions-content rows{{i}}">
      <span class='btn' (click)="addFavorite($event, e.name)" *ngIf="menuPoint === 0 && !e.favorite">*</span>
      <span class='btn' (click)="addDeleted($event, e.name, i)" *ngIf="menuPoint === 0 && !e.favorite">x</span>
      <span class='btn' (click)="removeElemFromList('favorite', e.name, i)" *ngIf="menuPoint === 1">x</span>
      <span class='btn' (click)="removeElemFromList('deleted', e.name, i)" *ngIf="menuPoint === 2">restore</span>
    </div>
  </ng-container>

  <div class='btn load-more' (click)="loadMore()" #loadMoreBtn>load more</div>
  
</div>